@page
@model OrderCookDeliver.Pages.DetailModel
@{
    ViewData["Title"] = "Detail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}


<div class="container marginTop">

    <div class="row">

        <div class="card">

            <div class="text-center view overlay hm-white-slight">

                <img src="~/img/noodles.jpg" class="img-fluid" alt="">

                <a href="#">

                    <div class="mask waves-effect waves-light"></div>

                </a>

            </div>
            
            <div class="card-block">
                <form method="get" action="~/ShoppingCart/Create">
                    <!--Title-->
                    
                    <h4 class="card-title">@Model.Name</h4>
                    <input type="text" name="Meal" value="@Model.Name"hidden/>
                    <input type="text" name="Price" value="@Model.Price"hidden/>
                    <!--Text-->

                    <p class="card-text">@Model.Description.</p>

                    <p class="card-text">@Model.Ingredients</p>
                    <section class="o-Ingredients">
                        <header class="o-Ingredients__m-Header">
                            <div class="o-Ingredients__m-TextWrap">
                                <h3 class="o-Ingredients__a-HeadLine">
                                    <span class="o-Ingredients__a-HeadLineText">
                                        Ingredients
                                    </span>
                                </h3>
                            </div>
                        </header>
                        <div class="o-Ingredients__m-Body">
                            <p class="o-Ingredients__a-Ingredient">
                                2 Whole free-range, organic chickens
                            </p>
                        </div>
                    </section>


                    <div>
                        <select id="select1" name="Qty">
                            <option>1</option>
                            <option>2</option>
                            <option>3</option>
                            <option>4</option>
                            <option>5</option>
                            <option>6</option>
                            <option>7</option>
                            <option>8</option>
                            <option>9</option>
                            <option>10</option>
                        </select>  Servings
                    </div>
                    <p></p>

                    <p class="btn btn-group pull-right">

                        <a href="Menu" class="btn btn-default btn-outline-secondary">Show all Meals</a>

                        <button class="btn btn-default btn-outline-secondary" id="submit">

                            Add to cart

                        </button>


                    </p>
                </form>
            </div>

        </div>

    </div>

</div>

