@page
@model OrderCookDeliver.Pages.ShoppingCart.DetailsModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Meal</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.Meal)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.Meal)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.Price) (each)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.Serving)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.Serving)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cart.PickupDay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cart.PickupDay)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Index">Back to Cart</a> | 
    <a asp-page="../Menu">Back to Menu</a>
</div>
